<%- include("Partials/header.ejs") %>
<div>
    <% if (locals.data) { %>
        <h1><%= data %></h1>
    <% }  else { %> 
        <h1>Heyyy</h1>
    <% } %>
</div>
<%- include("Partials/footer.ejs") %>